{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3,
      "modules": false,
      "targets": {
        // https://jamie.build/last-2-versions
        "browsers": ["last 2 Chrome versions, last 2 firefox versions"]
      }
    }]
  ]
}