.highlighter--highlighted:hover {
  cursor: pointer;
  background-color: #f8690d;
}

.highlighter--highlighted {
  background-color: rgba(248, 103, 13, 0.5);
}
#left-context-ul {
  border-radius: 10px;
  list-style-image: none;
  list-style-type: none;
  z-index: 9999999999;
  background-color: #2a2e2e;
  padding: 0;
  margin: 0;
}
.left-context-li {
  padding: 10px;
  margin: 0;
  color: white;
  border-radius: 5px;
}
.left-context-li:hover {
  background-color: #171818;
  cursor: pointer;
}
